.DS_Store
.idea
*.log
tmp/
/config.el
/modules/private/work/config.el
/modules/private/org/config.el
/modules/private/org/config.el
/autoload.el
*.elc
/modules/private/dired/+sidebar.el
flycheck_config.el
edbi-bridge.pl
/custom.el
