{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/clojurescript {:mvn/version "1.11.60"}
        dev.weavejester/medley {:mvn/version "1.7.0"}
        lambdaisland/fetch {:mvn/version "1.5.83"}
        org.flatland/ordered {:mvn/version "1.15.11"}
        org.clojure/test.check {:mvn/version "1.1.1"}
        com.pitch/uix.core {:mvn/version "1.0.0"}
        clj-commons/cljss {:mvn/version "1.6.4"}
        com.pitch/uix.dom {:mvn/version "1.0.0"}
        org.clojure/core.match {:mvn/version "1.0.1"}
        funcool/cats {:mvn/version "2.4.2"}
        funcool/promesa {:mvn/version "11.0.678"}
        com.pitch/cljest {:mvn/version "1.0.0"}
        applied-science/js-interop {:mvn/version "0.4.2"}}
 :paths ["src"]
 :aliases {:dev {:extra-paths ["dev"]
                 :extra-deps {thheller/shadow-cljs {:mvn/version "2.22.9"}
                              binaryage/devtools {:mvn/version "1.0.4"}}}}}
