{:deps true
 :dev-http {1337 "public"}
 :builds {:app {:target :browser
                :modules {:main {:entries [app.core]
                                 :init-fn app.core/init}}
                :devtools {:preloads [preload devtools.preload]
                           :reload-strategy :full
                           :log false}}}}
